@model Project2MVC.Models.Model.Customer

@{
    Layout = "~/Views/Shared/_MyTheme.cshtml";
}
@if (ViewBag.SuccessMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:darkgreen">@ViewBag.SuccessMsg</h3>
}
@if (ViewBag.FailMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:brown">@ViewBag.FailMsg</h3>
}

<div>
    <form method="post">
        <input type="hidden" name="Code" value="@Model.Code">

    <form method="post">

        <div class="form-group row mt-4 ml-2">

            <div class="col-md-1 ">
                @Html.LabelFor(c => c.Code)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.Code, null, htmlAttributes: new { @class = "form-control", placeholder = "Code" })
            </div>
        </div>

        <div class="form-group row mt-3 ml-2">

            <div class="col-md-1 ">
                @Html.LabelFor(c => c.Name)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.Name, null, htmlAttributes: new { @class = "form-control", placeholder = "Name" })
            </div>
        </div>

        <div class="form-group row mt-3 ml-2">

            <div class="col-md-1 ">
                @Html.LabelFor(c => c.Address)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.Address, null, htmlAttributes: new { @class = "form-control", placeholder = "Address" })
            </div>
        </div>

        <div class="form-group row mt-3 ml-2">

            <div class="col-md-1 ">
                @Html.LabelFor(c => c.Email)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.Email, null, htmlAttributes: new { @class = "form-control", placeholder = "Email" })
            </div>
        </div>

        <div class="form-group row mt-3 ml-2">

            <div class="col-md-1 ">
                @Html.LabelFor(c => c.Contact)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.Contact, null, htmlAttributes: new { @class = "form-control", placeholder = "Contact" })
            </div>
        </div>

        <div class="form-group row mt-3 ml-2">

            <div class="col-md-1 ">
                @Html.LabelFor(c => c.LoyaltyPoint)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(c => c.LoyaltyPoint, null, htmlAttributes: new { @class = "form-control", placeholder = "Loyalty Point" })
            </div>
        </div>

        <div class="form-group row">

            <div class="col-md-3"></div>
            <div><button type="submit">Update</button></div>
        </div>
        @*<table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="Name" value="@Model.Name"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input type="text" name="Address" value="@Model.Address"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="Email" value="@Model.Email"></td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td><input type="text" name="Contact" value="@Model.Contact"></td>
                </tr>
                <tr>
                    <td>Loyalty point</td>
                    <td><input type="text" name="LoyaltyPoint" value="@Model.LoyaltyPoint"></td>
                </tr>
                <tr>
                    <td>Action</td>
                    <td><input type="submit" value="Update"></td>
                </tr>
            </table>*@
    </form>
        </form>
</div>
